.cell {
  display: inline-block;
  border: 3px outset black;
  background-color: darkorange;
  vertical-align: top;
  text-align: center;
  width: 22rem;
  line-height: 1.2;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}